<h1>Cocktails</h1>

<%= link_to "Create a cocktail", new_cocktail_path %>


<% @cocktails.each do |cocktail| %>
  <h2>
    <%= link_to cocktail do %>
      <%= cocktail.id %>. <%= cocktail.name %>
    <% end %>
  </h2>
  <%= cl_image_tag(cocktail.picture, width: 300, height: 200, crop: :fill) %>
<% end %>

