<h1>Create a cocktail</h1>

<%= form_for [@cocktail] do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :picture %><br>
  <%= f.text_field :picture %><br>
  <%= f.submit "add a cocktail" %>
<% end %>
